.container {
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
}

.schedule {
  min-width: 200px;
  width: 200px;
  text-align: center;
}

.cover {
  height: 250px;
  min-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.cover > img {
  min-height: 100%;
  object-fit: cover;
}

.summary {
  padding: 10px;
  min-width: 300px;
  width: 500px;
}

.summary p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info > div {
  max-width: calc(50% - 5px);
}

.rating {
  text-align: right;
}

.stars {
  margin: -4px 0;
}
