.home {
  text-align: center;
}

.loaddiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadtext {
  font-size: 32px;
}

.search {
  overflow: auto;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ddd;
  align-items: center;
  justify-content: center;
}

.background {
  height: 100%;
  width: 100%;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/img/badlands.jpg');
  background-position: center center;
  background-size: cover;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search form > input {
  margin-right: 5px;
}

.businesslist {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.map {
  margin: 40px;
}

.iconbutton {
  padding: 3px 3px 0 3px;
}

.mapslink {
  margin-bottom: 20px;
  font-size: 24px;
}
