.home {
  text-align: center;
}

.loaddiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
}

.loadtext {
  font-size: 32px;
}

.searchbar form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar form > input {
  margin-right: 5px;
}

.businesslist {
  display: flex;
  flex-direction: column;
}

.map {
  margin: 40px;
}

.iconbutton {
  padding: 3px 3px 0 3px;
}
