.loadtext {
  margin: 10px;
}

.searchbar {
  text-align: center;
}

.businesslist {
  display: flex;
  flex-direction: column;
}

.map {
  margin: 40px;
  text-align: center;
}

.iconbutton {
  padding: 3px 3px 0 3px;
}
